{
	"DestinationName": "MIRATA_ODATA_API",
	"OfflineEnabled": true,
	"OfflineOptions": {
		"ServiceOptions": {
			"supportsBind": false
		},
		"StoreParameters": {
			"EnableIndividualErrorArchiveDeletion": true
		}
	}
}